/* loading.css */
@import "./base/var.css";

@c loading {

    .som-mask-enter,
    .som-mask-leave-active {
        opacity: 0;
    }
    .som-mask-leave-active,
    .som-mask-enter-active {
        transition: opacity 300ms;
    }

    .som-loading-mask {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @when fullscreen {
        .som-loading-mask {
            background-color: #fff;
        }

        .som-icon-loading {
            color: #bfbfbf;
        }

        .som-loading__content {
            background-color: transparent;
            color: var(--text-caption);
        }

        .som-loading-decs {
            margin-top: 13px;
        }
    }

    @d content {
        z-index: 5001;
        position: fixed;
        width: 120px;
        height: 120px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        color: #fff;
        background-color: var(--loading-fill);
        text-align: center;
        border-radius: 5px;

        .som-icon-loading {
            margin: 30px 0 0;
            display: inline-block;
            vertical-align: baseline;
        }

        .som-loading-decs {
            margin: 18px 0 15px;
            font-size: 14px;
        }
    }
}