/* selector-cascader.css */
@c selector-cascader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    @d hasfooter {
        bottom: 54px;
    }
}
.som-selector-global-footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

